.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.warning {
  border-color: rgb(200, 0, 0) !important;

  & ~ div {
    display: block;
  }
}

.required {
  display: none;
  color: rgb(200, 0, 0);
  font-weight: 500;
  font-size: 0.85rem;
}
